In [1]:
import pandas as pd
from IPython.display import display 

loan_payments = pd.read_csv('C:/Users/admin/EDA - Customer Loans/transformed_data.csv')

categorical_columns = ['term', 'grade', 'sub_grade', 'home_ownership', 'verification_status',
                        'loan_status', 'payment_plan', 'purpose', 'employment_length']

# Explicitly convert specified categorical columns to category
loan_payments[categorical_columns] = loan_payments[categorical_columns].astype('category')

class DataFrameInfo:
    def __init__(self, df):
        self.df = df

    def describe_columns(self):
        """Describe all columns in the DataFrame to check their data types."""
        return self.df.dtypes
    
    def extract_statistical_values(self):
        """Extract statistical values: median, standard deviation, and mean from the columns and the DataFrame."""
        display(self.df.describe(include='all'))

    def count_distinct_values(self):
        """Count distinct values in categorical columns"""
        categorical_columns = self.df.select_dtypes(include='category').columns
        distinct_counts = {col: self.df[col].nunique() for col in categorical_columns}
        return distinct_counts
    
    def print_dataframe_shape(self):
        """Print out the shape of the DataFrame."""
        print(f"Number of rows: {self.df.shape[0]}, Number of columns: {self.df.shape[1]}")

    def generate_null_count(self):
        """Generate a count/percentage count of NULL values in each column"""
        null_counts = self.df.isnull().sum()
        percentage_nulls = (null_counts / len(self.df)) * 100
        null_info = pd.DataFrame({'Null Count' : null_counts, 'Percentage Nulls':percentage_nulls})
        return(null_info)
    
loan_payments_info = DataFrameInfo(loan_payments)

print("1. Describe Columns:")
display(loan_payments_info.describe_columns())

print("\n2. Extract Statistical Values:")
display(loan_payments.describe(include='all'))

print("\n3. Count of Distinct Values in Categorical Columns:")
distinct_values_result = loan_payments_info.count_distinct_values()
display(distinct_values_result)

print("\n4. Print DataFrame Shape:")
loan_payments_info.print_dataframe_shape()

print("\n5. Generate Null Count:")
null_info = loan_payments_info.generate_null_count()
display(null_info)

1. Describe Columns:

id                                int64
member_id                         int64
loan_amount                     float64
funded_amount                   float64
funded_amount_inv               float64
term                           category
int_rate                        float64
instalment                      float64
grade                          category
sub_grade                      category
employment_length              category
home_ownership                 category
annual_inc                      float64
verification_status            category
issue_date                       object
loan_status                    category
payment_plan                   category
purpose                        category
dti                             float64
delinq_2yrs                     float64
earliest_credit_line             object
inq_last_6mths                  float64
mths_since_last_delinq          float64
mths_since_last_record          float64
open_accounts                   float64
total_accounts                  float64
out_prncp                       float64
out_prncp_inv                   float64
total_payment                   float64
total_payment_inv               float64
total_rec_prncp                 float64
total_rec_int                   float64
total_rec_late_fee              float64
recoveries                      float64
collection_recovery_fee         float64
last_payment_date                object
last_payment_amount             float64
next_payment_date                object
last_credit_pull_date            object
collections_12_mths_ex_med      float64
mths_since_last_major_derog     float64
policy_code                       int64
application_type                 object
dtype: object

2. Extract Statistical Values:

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
count,5.423100e+04,5.423100e+04,54231.000000,51224.000000,54231.000000,49459,49062.000000,54231.000000,54231,54231,...,54231.000000,54231.000000,54158,54231.000000,21623,54224,54180.000000,7499.000000,54231.0,54231
unique,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,7,35,...,NaN,NaN,98,NaN,96,101,NaN,NaN,NaN,1
top,NaN,NaN,NaN,NaN,NaN,36 months,NaN,NaN,B,B3,...,NaN,NaN,2022-01-01,NaN,2022-02-01,2022-01-01,NaN,NaN,NaN,INDIVIDUAL
freq,NaN,NaN,NaN,NaN,NaN,35845,NaN,NaN,16369,3641,...,NaN,NaN,15569,NaN,18136,32136,NaN,NaN,NaN,54231
mean,7.621797e+06,8.655350e+06,13333.076100,13229.509117,12952.622979,NaN,13.507328,400.013953,NaN,NaN,...,93.501288,10.859057,NaN,3130.706393,NaN,NaN,0.004208,42.253634,1.0,NaN
std,9.571362e+06,1.031281e+07,8082.196709,8019.017599,8099.473527,NaN,4.392893,238.920012,NaN,NaN,...,630.843636,120.193950,NaN,5323.801675,NaN,NaN,0.070990,21.052360,0.0,NaN
min,5.552100e+04,7.069400e+04,500.000000,500.000000,0.000000,NaN,5.420000,15.670000,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,1.0,NaN
25%,7.594330e+05,9.587720e+05,7000.000000,7000.000000,6700.000000,NaN,10.370000,224.205000,NaN,NaN,...,0.000000,0.000000,NaN,289.790000,NaN,NaN,0.000000,26.000000,1.0,NaN
50%,7.084590e+06,8.709873e+06,12000.000000,12000.000000,11300.000000,NaN,13.160000,347.150000,NaN,NaN,...,0.000000,0.000000,NaN,562.670000,NaN,NaN,0.000000,42.000000,1.0,NaN
75%,8.860616e+06,1.052714e+07,18000.000000,18000.000000,18000.000000,NaN,16.200000,527.550000,NaN,NaN,...,0.000000,0.000000,NaN,3738.120000,NaN,NaN,0.000000,59.000000,1.0,NaN
max,3.867612e+07,4.146185e+07,35000.000000,35000.000000,35000.000000,NaN,26.060000,1407.010000,NaN,NaN,...,27750.000000,7002.190000,NaN,36115.200000,NaN,NaN,4.000000,146.000000,1.0,NaN

3. Count of Distinct Values in Categorical Columns:

{'term': 2,
 'grade': 7,
 'sub_grade': 35,
 'employment_length': 0,
 'home_ownership': 5,
 'verification_status': 3,
 'loan_status': 9,
 'payment_plan': 2,
 'purpose': 14}

4. Print DataFrame Shape:
Number of rows: 54231, Number of columns: 43

5. Generate Null Count:

                             Null Count  Percentage Nulls
id                                    0          0.000000
member_id                             0          0.000000
loan_amount                           0          0.000000
funded_amount                      3007          5.544799
funded_amount_inv                     0          0.000000
term                               4772          8.799395
int_rate                           5169          9.531449
instalment                            0          0.000000
grade                                 0          0.000000
sub_grade                             0          0.000000
employment_length                 54231        100.000000
home_ownership                        0          0.000000
annual_inc                            0          0.000000
verification_status                   0          0.000000
issue_date                            0          0.000000
loan_status                           0          0.000000
payment_plan                          0          0.000000
purpose                               0          0.000000
dti                                   0          0.000000
delinq_2yrs                           0          0.000000
earliest_credit_line                  0          0.000000
inq_last_6mths                        0          0.000000
mths_since_last_delinq            31002         57.166565
mths_since_last_record            48050         88.602460
open_accounts                         0          0.000000
total_accounts                        0          0.000000
out_prncp                             0          0.000000
out_prncp_inv                         0          0.000000
total_payment                         0          0.000000
total_payment_inv                     0          0.000000
total_rec_prncp                       0          0.000000
total_rec_int                         0          0.000000
total_rec_late_fee                    0          0.000000
recoveries                            0          0.000000
collection_recovery_fee               0          0.000000
last_payment_date                    73          0.134609
last_payment_amount                   0          0.000000
next_payment_date                 32608         60.127971
last_credit_pull_date                 7          0.012908
collections_12_mths_ex_med           51          0.094042
mths_since_last_major_derog       46732         86.172116
policy_code                           0          0.000000
application_type                      0          0.000000